.main-list {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.list-container {
    background-color: rgba(255, 255, 255, 5%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    min-height: 100vh;
    width: 70%;
    padding-top: 10px;
}

.list-text {
    text-align: left;
}

.task {
    font-size: 16px;
    cursor: pointer;
}

.list-text li {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 30px;
}

.time {
    font-size: 9px;
    color: #241a50;
    margin: 8px 0 0 0;
    cursor: default;
}

.strike {
    text-decoration: line-through;
    color: darkgrey;
}