body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9588c9;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}
